<!DOCTYPE html>
<html>
  <head>
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  </head>
  <body class="container">

    <section class="content box">
      #{doLayout /}
    </section>
    <footer class="footer box">
      <div class="content has-text-centered">
        <p>
          Copyright ToDo List Demo 2023
        </p>
      </div>
    </footer>
  </body>
</html>